// COLORS
// ========================
// brand
$coal: #474543;
$earth: #9f8870;
$autumn: #b08047;
$morning: #f8f3da;

// neutrals
$color-white: $morning;
$color-grey-light: $morning;
$color-grey-light-2: $morning;
$color-grey: $earth;
$color-grey-dark-2: $coal;
$color-grey-dark: $coal;
$color-black: $coal;

// palette
$color-primary: $earth;
$color-secondary: $coal;
$color-tertiary: $autumn;

$color-edit: $earth;
$color-warning: $earth;
$color-notice: $earth;

$color-delete: $autumn;
$color-error: $autumn;
$color-cta: $autumn;

// FONT
$default-font-size: 1.6rem;

// COMMON STYLES
$shadow-high: 0 0.6rem 1.8rem rgba($color-black, 0.4);
$shadow-low: 0 0.3rem 0.9rem rgba($color-black, 0.6);
$max-section-width: 130rem;
$max-text-width: 73rem;
$gap-width: 1.3rem;
